<style>
    .grid {
        display: grid;
        grid-template-rows: 32px 1fr;
        height: 100vh;
    }

    .grid-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid lightgray;
    }

    .logo {
        height: 20px;
        margin: 3px;
    }

    .log-file-dropdown {
        margin-left: 0.5rem;
    }
</style>
<div class="grid">
  <div class="grid-header">
    <%= image_tag "onlylogs/logo.png", class: "logo" %>
    <% if @available_log_files.any? %>
      <%= form_with url: root_path, method: :get, local: true, class: "log-file-dropdown" do %>
        <select id="log_file_path" name="log_file_path" onchange="this.form.submit()">
          <% @available_log_files.each do |file| %>
            <% encrypted_path = Onlylogs::SecureFilePath.encrypt(file.to_s) %>
            <% relative_path = Pathname.new(file).relative_path_from(Rails.root).to_s %>
            <option value="<%= encrypted_path %>" <%= "selected" if file.to_s == @log_file_path.to_s %>>
              <%= relative_path %>
            </option>
          <% end %>
        </select>
      <% end %>
    <% end %>
  </div>
  <%= render partial: "onlylogs/shared/log_container", locals: { log_file_path: @log_file_path, tail: @max_lines, filter: @filter, autoscroll: @autoscroll } %>
</div>
