<!DOCTYPE html>
<html>
<head>
  <title>Onlylogs</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= javascript_importmap_tags "application", importmap: Onlylogs.importmap  %>
  
  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
