<!DOCTYPE html>
<html>
<head>
  <title>Onlylogs</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag "onlylogs/favicon/favicon.ico" %>
  <%= favicon_link_tag "onlylogs/favicon/favicon.svg", type: "image/svg+xml" %>

  <%= yield :head %>

  <% if defined?(Importmap) %>
    <%= javascript_importmap_tags "application", importmap: Onlylogs.importmap  %>
  <% end %>
  
  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
