<!DOCTYPE html>
<html>
<head>
  <title>Onlylogs</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= javascript_importmap_tags "application", importmap: Onlylogs.importmap  %>
</head>
<body>

<%= yield %>

</body>
</html>
